# ignore auxiliary files from jabref
*.bak
*.sav

# ignore latex temporary files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc*
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.out
*.synctex.gz
*.dvi
*.db
*.nlo

# ignore inkscape files and pictures ignorieren
*.pdf
*.jpg
*.png
*.svg
*.pdf_tex

# exceptions for small pictures/files
!/bilder/titel/CoverLogos.pdf
!/bilder/titel/Titelbild_Bender.jpg

# exceptions for pdf files and svg files created within inkscape if they are small
!/bilder/standdertechnik/arc_geometry.pdf
!/bilder/standdertechnik/arc_geometry.pdf_tex
!/bilder/standdertechnik/arc_geometry.svg
!/bilder/standdertechnik/base.pdf
!/bilder/standdertechnik/base.pdf_tex
!/bilder/standdertechnik/base.svg
!/bilder/standdertechnik/configuration_space02.pdf
!/bilder/standdertechnik/configuration_space02.svg
!/bilder/standdertechnik/configuration_space02.pdf_tex
!/bilder/standdertechnik/continuum_robot3d.pdf
!/bilder/standdertechnik/continuum_robot3d.pdf_tex
!/bilder/standdertechnik/continuum_robot3d.svg

